<!DOCTYPE html>
<html lang="en">
<form action="/cabout" id="greet" method="POST" >

</form>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    {% include "layouts/navbar.html" %}

    <meta charset="UTF-8">
    <title>About Colin</title>
</head>
<body>
    <div class="w3-container w3-teal">
        <body style="background-color: darkolivegreen;"</body>
        <h1>About Colin</h1>
    </div>
    <p>My name is Colin. I'm a junior with no experience or background in coding or website building.
        I joined comp sci because I wanted to understand computers and how everything 'behind the scenes' works.
        I also like monkeys very much and so I feel that this group is a good fit for me, considering the other
        members' taste for monkeys and turtles as well.</p>
</body>
</html>
<img src="/static/MonkeyMaids.jpg" width="400" height="400" class="d-inline-block align-center" alt="">