<!DOCTYPE html>
<html lang="en">
<form action="/cabout" id="greet" method="POST" >

</form>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <meta charset="UTF-8">
    <title>About Colin</title>
</head>
<body>
    <div class="w3-container w3-teal">
        <h1>About Colin</h1>
    </div>
    <p>My name is Colin. I'm a junior with no experience or background in coding or website building. I joined comp sci because I wanted to understand computers and how it all works. I also like monkeys very much.</p>
</body>
</html>
<img src="/static/MonkeyMaids.jpg" width="282" height="179" class="d-inline-block align-center" alt="">