<!DOCTYPE html>
<html lang="en">
<form action="/jabout" id="greet" method="POST" >
</form>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <meta charset="UTF-8">
    <title>About Jackson</title>
</head>
<body>
    <div class="w3-container w3-teal">
    <h1>About Jackson</h1>
    </div>
    <p>I am a Junior in High School. I play baseball and enjoy playing video games and watching YouTube in my free time. I am
        a big Padres fan and have been consistently watching them since the beginning of the 2021 season.</p>
    <body style="background-color:darkred"
</body>
</html>