<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    {% include "layouts/navbar.html" %}

    <link rel="stylesheet" href="/templates/cssFiles/style.css">
<body style="background-color: #e56717;"</body>

    <meta charset="UTF-8">
    <title>About Kurtis</title>
</head>
<body>
    <div class="w3-container w3-teal">
        <h1>About Kurtis</h1>
    </div>
    <a class="navbar-brand" href="https://en.wikipedia.org/wiki/Dominic_Toretto">
        <img src="/static/toreddo.jpg" width="282" height="179" class="d-inline-block align-center" alt="">
    </a>
    <p style="color: #ffffff">My name is Kurtis Kwan. I am a Junior at Del Norte. I also like Fast and Furious. I am of Chinese Descent, and can speak 3 Languages.</p>
</body>
</html>