<!DOCTYPE html>
<html lang="en">
<form action="/nabout" id="greet" method="POST" >


<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" href="/templates/cssFiles/style.css">

    <meta charset="UTF-8">
    <title>Abou Nathan</title>
</head>
<body>
<div class="w3-container w3-teal">
    <h1>My turtle</h1>
</div>

<img src="/static/toreddo.jpg" width="282" height="179" class="d-inline-block align-center" alt="">
<b <----- Dom Toretto from the Fast and Furious movie Franchise </b>
<br>
<h1>I'm Nathan Shih and I'm a junior at Del Norte Highschool. I really like the Fast and Furious movie franchise as well as turtles. As of right now, I'm really enjoying CSP as learning to code has been very interesting and is very rewarding to see the final product in the website.
</h1>
</body>
</html>