<!DOCTYPE html>
<html lang="en">
<a action="/nabout" id="greet" method="POST" >


<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" href="/templates/cssFiles/style.css">
    <div class="w3-container w3-teal">
    <body style="background-color: hotpink;"</body>
    <meta charset="UTF-8">
    <title>About Nathan</title>
</head>
<body>
<div class="w3-container w3-teal">
    <body style="background-color: lightgreen;"</body>
    <h1>About Nathan</h1>
</div>

    <a class="navbar-brand" href="https://en.wikipedia.org/wiki/Dominic_Toretto">
        <img src="/static/Russian.jfif" width="282" height="282" class="d-inline-block align-center" alt="">
</a>
<h1>I'm Nathan Shih and I'm a junior at Del Norte High School. I really like the Fast and Furious movie franchise as well as turtles. As of right now, I'm really enjoying CSP as learning to code has been very interesting and is very rewarding to see the final product in the website. This picture is also an embed link
</h1>
</body>
</html>