<!DOCTYPE html>
{% include "layouts/layout.html" %}

<!-- Search for all the Hack: below for hack-a-thon and mini-lab requirements -->

<!-- Hack: Build form to drive bit size dynamic updates
           use HTML Input Form in Frontend, ie toward top of Page
           send initial value and updated values to form via Python render_template -->
<!-- Hack: use 8 as default -->

{% set MAX = ((2 ** BITS) - 1) %}

<!-- Hack: Set bulbs and pass as variables via Python render_template
           add new images (ie PNGs) to project -->
<!-- use your PNGs as default -->
{% set imgBulbOn = "/static/turtleyes.png" %}
{% set imgBulbOff = "/static/turtledefault.png" %}
{% set msgTurnOn = "Turn On" %}
{% set msgTurnOff = "Turn Off" %}


{% block meta %}
    <title>Binary page</title>


    <script>
        const BITS = 24; let max = 47; let MAX = parseInt(max, 10);
        function getBits() {
            let bits = "";
            for(let i = 0; i < BITS; i++) {
                bits = bits + document.getElementById('digit' + i).value;
            }
            return bits;
        }

        function change_color(r,g,b) {
            document.getElementById("color_code").style.backgroundColor = "rgb(255,236,1)"
        }
        function toggleBit(i) {
            //alert("Digit action: " + i );
            const dig = document.getElementById('digit' + i);
            const image = document.getElementById('bulb' + i);
            const butt = document.getElementById('butt' + i);
            // Change digit and visual
            if (image.src.match("{{ imgBulbOn }}")) {
                dig.value = 0;
                image.src = "{{ imgBulbOff }}";
                butt.innerHTML = "{{ msgTurnOn }}";
            } else {
                dig.value = 1;
                image.src = "{{ imgBulbOn }}";
                butt.innerHTML = "{{ msgTurnOff }}";
            }
            // Binary numbers
            const binary = getBits();
            setConversions(binary);
        }
        function setConversions(binary) {
            document.getElementById('color_code').style.backgroundColor = "#"+String(parseInt(binary, 2).toString(16));
            document.getElementById('hex').innerHTML = "Hex Code: #" + String(parseInt(binary, 2).toString(16));
        }

    </script>

    <div>
        <class = "col-12">
        <table class="table">
            <tr>
                {% for i in range(24) %}
                    <td><img class="img-responsive py-3" id="bulb{{i}}" src="{{ imgBulbOff }}" alt="" width="40" height="Auto">
                        <button type="button" id="butt{{i}}" onclick="toggleBit('{{i}}')">{{ msgTurnOn }}</button>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(24) %}
                    <td><input type='text' id='digit{{i}}' Value="0" size="1" readonly></td>
                {% endfor %}
            </tr>

    </div>
    <div id="color_code">
        <h1>Color Displays Here</h1>
    </div>
    <p id="hex">Hex Code Displays Here</p>
    </table>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}