:root{
    --yellow: #f1d483;
    --green: #718b5a;
    --purple: #a59aaf;
    --lblue: #6084a3;
    --dblue: #2b425b;
    --gray: #363d47;
    --white: #ff0000;
    --black: black;
    --grey: grey;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: lightgreen !important;
    color: lightgreen;
}

h1 {
    font-family: Georgia, serif;
    font-size: 5em;
    text-align: center;
    margin-top: 1.0em;
    margin-bottom: 1em;
    margin-inside: 0.5em;
}
 .button {
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 16px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
 }
