body {
    background-color: lightgreen;
}

h1 {
    font-family: Georgia, serif;
    font-size: 2em;
    text-align: center;
    margin-top: 1.0em;
    margin-bottom: 1em;
    margin-inside: 0.5em;
}