{% include "layouts/navbar.html" %}

<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p>Hello, {{name}}!</p>
    </div>

        <body style="background-color:ghostwhite;">
        <form action="/greet" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>

    </div>

    <div class="col-12">
        <img src="/static/mokee.jpg" style="height: 400px" >
    </div>
<label for="dog-names">Choose a greet page:</label>
<select name="dog-names" id="dog-names">
    <option value="ngreet">Nathan Greet</option>
    <option value="cgreet">Colin Greet</option>
    <option value="jgreet">Jackson Greet</option>
    <option value="egreet">Everitt Greet</option>
</select>
<h2>Type /ngreet for Nathan's Greet page, and same for other greets.</h2>
</div>