<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turtle Clicker</title>

</head>
</script>
<body>

</body>
</html>

<p id="clickCount"></p>
</html>
</script>
    <input type="image" name="Turtle Clicker" id="turtleClick" onclick=function src="/static/baseturtle.png" alt="Image of turtle">

    <script language = "javascript">
        var count=0
        function="increaseVar"{
            count==count + 1;
            if (count>=0;
                document=getElementById("clickCount").innerHTML = count;

        }
    </script>

<button class="button-home">Turtle Clicks</button>

    <script language = "javascript">
        let buttonHome=document.querySelector(".button-home");
        let CountButtonHomeClicks=0;

        buttonHome.addEventListener("click", function() {
            CountButtonHomeClicks += 1;
            console.log(CountButtonHomeClicks);
        });
    </script>
<header print=CountButtonHomeClicks </header>
