<!DOCTYPE html>
<html lang="en">
<head>
    <p>
        click the turtle
    </p>
    <meta charset="UTF-8">
    <title>Turtle Clicker</title>

</head>


<body>
<img src="/static/tortclicker.png" style="width:1400px;height:800px"
<button style="width:800px;height:800px;color:white;border-color:white;border:0px" onclick="displaycount()"></button >
<p id="carrier"> 0 </p>

</body>



<script>

var count =(function () {

    var counter = 0;
    return function() {return counter +=1;}
})();

function displaycount(){
    document.getElementById("carrier").innerHTML = count();
}

</script>

</body>

</html>