<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team AWAWA</title>
    <link href="monkeyreaction.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>Test Your Reaction Speed</h1>
        </div>

        <div class="navigation">
            <h2>Check your time</h2>
            <p class="information">Click area after the color changes to green</p>
        </div>
        <div class="canvas-parent">
            <canvas id="canvas"></canvas>
        </div>
        <div class="score">
            <div class="section-1">
                <button id="start" type="button">Start</button>
            </div>
            <div class="section-2">
                <p>Your Time:</p>
                <p id="time-text">No</p>
            </div>
        </div>
    </div>
</body>

<script src="monkeyreaction.js"></script>
</html>